/* The colour palette is inspired by the selected image from the Manga 'Sailor Moon' 
   The background colour is a light beige (#e8e0d6), which provides a neutral and calming backdrop for the content. 
   The primary colour is black (#000000), which provides high contrast and helps the content stand out. 
   The secondary colour is a dark blue (#002153), which provides a complementary colour to the beige background and adds depth to the design. 
   Finally, the tertiary colour is a light gray (#969696), which provides a subtle border to the content while blending in with the background colour.
  */

  /* The border styles used vary between the different panels, mainly to help to make the visuals more appealing and balanced.
     For example, panel-2 and panel-7 have a thicker border due to the holo panel, and because both the panels are connected to their neighbouring panels, 
     so the colours that are used are either the same to the neighbouring panel, or the same to the background, which creates a subtle transition. 
     */

  /* The background fills used in the different panels also vary. For example, panels 1, 3, and 5 have a darker background fill with the secondary colour, 
     The use of black as the primary text colour creates a high contrast that enhances the readability of the content.
     The blue secondary colour provides a pleasing contrast to the beige background and is used sparingly to draw attention to the panels,
     while panels 4 and 8 have a lighter background fill with the tertiary colour.
     The use of black as the primary text colour creates a high contrast that enhances the readability of the content.
     This contrast between lighter and darker background fills creates a pleasing visual hierarchy and helps to differentiate between the different sections. 
   */

:root {
    --bg-color: #e8e0d6;
    --primary-color: #000000;
    --secondary-color: #002153;
    --tertiary-color: #b8b8b8;
  }
  
  .page { display: grid;
    width: 1177px;
    height: 1618px;
    margin: 0 auto;
    background-color: var(--bg-color);
    border: 5px solid var(--tertiary-color);
  }

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "panel-1 panel-3 panel-5"
      "panel-2 panel-4 panel-5"
      "panel-6 panel-6 panel-6"
      "panel-7 panel-8 panel-9";
    width: 1077px;
    height: 1618px;
    background-color: var(--bg-color);
    overflow: hidden;
    position: absolute;
  }
  
  .panel-1 {
    position: absolute;
    top:  50px;
    left: 125px;
    width: 276px;
    height: 423px;
    border: 3px solid var(--secondary-color);
    background-color: var(--secondary-color);
    overflow: hidden;
  }
  
  .panel-2 {
    position: absolute;
    top:  350px;
    left: 95px;
    width: 271px;
    height: 310px;
    border: 6px solid var(--bg-color);
    background-color: var(--secondary-color);
    overflow: hidden;
  }
  
  .panel-3 {
    position: absolute;
    top:  50px;
    left: 495px;
    width: 280px;
    height: 320px;
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    overflow: hidden;
  }
  
  .panel-4 {
    position: absolute;
    top:  277px;
    left: 415px;
    width: 320px;
    height: 380px;
    border: 3px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
    overflow: hidden;
    position: absolute;
  }
  
  .panel-5 {
    position: absolute;
    top:  50px;
    left: 790px;
    width: 227px;
    height: 610px;
    border: 3px solid var(--secondary-color);
    background-color: var(--secondary-color);
    overflow: hidden;
    position: absolute;
  }
  
  .panel-6 {
    position: absolute;
    top:  690px;
    left: 95px;
    width: 920px;
    height: 245px;
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    overflow: hidden;
  }
  
  .panel-7 {
    position: absolute;
    bottom:  210px;
    left: 95px;
    width: 330px;
    height: 350px;
    border: 6px solid var(--tertiary-color);
    background-color: var(--bg-color);
    overflow: hidden;
    position: absolute;
  }
  
  .panel-8 {
    position: absolute;
    top:  966px;
    left: 230px;
    width: 465px;
    height: 387px;
    border: 3px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
    overflow: hidden;
    position: absolute;
  }
  
  .panel-9 {
    position: absolute;
    top:  966px;
    left: 725px;
    width: 290px;
    height: 440px;
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    overflow: hidden;
    position: absolute;
  }
  
  .panel-content {
    padding: 20px;
    font-size: 24px;
  }

  